= simple_form_for @carrera, html: { class: 'form-horizontal' } do |f|
  = f.input :nombre, label: 'Nombre:'
  = f.input :descripcion, label: 'Descripción:'
  / = f.label :estado, "TSU", class: 'estado'
  / = f.radio_button :estado, false, enabled: true, value: true
  / = f.label :estado, "Ingenieria", class: 'estado'
  / = f.radio_button :estado, true, enabled: false, value: false
  / %br/
  / %br/
  = f.label 'Criterio:'
  = f.collection_select :criterio_id, Criterio.all, :id, :descripcion
  %br/
  %br/
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), carreras_path, class: 'btn'
