
= simple_form_for @asignatura, html: { class: 'form-horizontal' } do |f|
  = f.input :nombre, label: 'Nombre:'
  = f.input :descripcion, label: 'Descripción:'

  = f.fields_for :s_criterios do |s|
    %br/
    = s.label 'Ser:'
    = s.collection_select :id, SCriterio.all, :id, :porcentaje
  = f.fields_for :sb_criterios do |sb|
    %br/
    = sb.label 'Saber:'
    = sb.collection_select :id, SbCriterio.all, :id, :porcentaje
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), asignaturas_path, class: 'btn'
