= simple_form_for @asistencia, :html => { :class => 'form-horizontal' } do |f|
	%br/
	%br/
	= f.label 'Nombre del alumno:'
	= f.collection_select :perfil_id, Perfil.all, :id, :nombre
	%br/
	%br/
	= f.label 'Grado:'
	= f.collection_select :grado_id, Grado.all, :id, :nombre
	%br/
	%br/
	= f.label 'Grupo:'
	= f.collection_select :grupo_id, Grupo.all, :id, :nombre
	%br/
	%br/
	= f.input :presente, label: 'Presente:'
	.form-actions
		= f.button :submit, :class => 'btn-primary btn'
		= link_to t('.cancel', :default => t("helpers.links.cancel")), asistencias_path, :class => 'btn'
