- model_class = Asistencia
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:clave)
      %th= model_class.human_attribute_name(:nombre)
      %th= model_class.human_attribute_name(:grado)
      %th= model_class.human_attribute_name(:grupo)
      %th= model_class.human_attribute_name(:asistencia)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @asistencias.each do |asistencia|
      %tr
        %td= link_to asistencia.id, asistencia_path(asistencia)
        %td= asistencia.perfil.nombre
        %td= asistencia.perfil.grado.nombre
        %td= asistencia.perfil.grupo.nombre
        %td= asistencia.presente
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_asistencia_path(asistencia), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), asistencia_path(asistencia), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_asistencia_path, :class => 'btn btn-primary'
