= simple_form_for @prestamo_libro, :html => { :class => 'form-horizontal' } do |f|
  = f.input :multa_dia
  = f.input :comentarios
  = f.input :perfil_id
  = f.input :libro_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), prestamo_libros_path, :class => 'btn'
