- model_class = PrestamoLibro
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:multa_dia)
      %th= model_class.human_attribute_name(:comentarios)
      %th= model_class.human_attribute_name(:perfil_id)
      %th= model_class.human_attribute_name(:libro_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @prestamo_libros.each do |prestamo_libro|
      %tr
        %td= link_to prestamo_libro.id, prestamo_libro_path(prestamo_libro)
        %td= prestamo_libro.multa_dia
        %td= prestamo_libro.comentarios
        %td= prestamo_libro.perfil_id
        %td= prestamo_libro.libro_id
        %td=l prestamo_libro.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_prestamo_libro_path(prestamo_libro), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), prestamo_libro_path(prestamo_libro), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_prestamo_libro_path, :class => 'btn btn-primary'
