%p#notice= notice

%p
  %b Sb1:
  = @rubro.sb1
%p
  %b Sb2:
  = @rubro.sb2
%p
  %b Sb3:
  = @rubro.sb3
%p
  %b Sh1:
  = @rubro.sh1
%p
  %b Sh2:
  = @rubro.sh2
%p
  %b Sh3:
  = @rubro.sh3
%p
  %b S1:
  = @rubro.s1
%p
  %b S2:
  = @rubro.s2
%p
  %b S3:
  = @rubro.s3
%p
  %b Calificacion:
  = @rubro.calificacion_id
%p
  %b Asignatura:
  = @rubro.asignatura_id

= link_to 'Edit', edit_rubro_path(@rubro)
\|
= link_to 'Back', rubros_path
