- model_class = ProfesorCatalogo
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:tipo_horario) + ':'
  %br
  = @profesor_catalogo.tipo_horario
%p
  %strong= model_class.human_attribute_name(:estado) + ':'
  %br
  = @profesor_catalogo.estado

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), profesor_catalogos_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_profesor_catalogo_path(@profesor_catalogo), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), profesor_catalogo_path(@profesor_catalogo), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
