- model_class = Parcial
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:nombre) + ':'
  %br
  = @parcial.nombre
%p
  %strong= model_class.human_attribute_name(:cuatrimestre_id) + ':'
  %br
  = @parcial.cuatrimestre_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), parciales_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_parcial_path(@parcial), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), parcial_path(@parcial), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
