%h1 Listing adeudos

%table
  %tr
    %th Numero libros
    %th Multa
    %th Total
    %th Concepto
    %th Perfil
    %th Libro
    %th
    %th
    %th

  - @adeudos.each do |adeudo|
    %tr
      %td= adeudo.numero_libros
      %td= adeudo.multa
      %td= adeudo.total
      %td= adeudo.concepto
      %td= adeudo.perfil_id
      %td= adeudo.libro_id
      %td= link_to 'Show', adeudo
      %td= link_to 'Edit', edit_adeudo_path(adeudo)
      %td= link_to 'Destroy', adeudo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Adeudo', new_adeudo_path
