%h1 Listing profesors

%table
  %tr
    %th Tipo horario
    %th Estado
    %th
    %th
    %th

  - @profesors.each do |profesor|
    %tr
      %td= profesor.tipo_horario
      %td= profesor.estado
      %td= link_to 'Show', profesor
      %td= link_to 'Edit', edit_profesor_path(profesor)
      %td= link_to 'Destroy', profesor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Profesor', new_profesor_path
