a- model_class = Perfil
- class_name = Perfil
= simple_form_for @perfil, :html => { :class => 'form-horizontal' } do |f|
  = f.input :nombre
  = f.input :apellido_paterno
  = f.input :apellido_matearno
  = f.input :numero_control
  /= f.input :fecha_nacimiento
  = f.input :estado_civil
  = f.input :sexo
  = f.input :cp
  = f.input :curp
  = f.input :nss
  = f.input :rfc
  = f.input :telefono
  = f.input :celular
  = f.input :calle
  = f.input :numero_exterior
  = f.input :numero_interior
  = f.input :numero_departamento
  = f.input :referencias
  = f.input :comentarios
  = f.input :poblacion
  = f.input :estado
  = f.input :situacion
  = f.input :turno
  .form-actions
  = f.button :submit, class: 'btn-primary'
  = link_to t('.cancel', default: t("helpers.links.cancel")), perfiles_path, class: 'btn'
