= simple_form_for @tutoria, :html => { :class => 'form-horizontal' } do |f|
  = f.input :mes1
  = f.input :mes2
  = f.input :mes3
  = f.input :mes4
  = f.input :grado_id
  = f.input :grupo_id
  = f.input :perfil_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), tutorias_path, :class => 'btn'
