= simple_form_for @criterio, :html => { :class => 'form-horizontal' } do |f|
  = f.input :nombre, label: 'Nombre:'
  = f.input :descripcion, label: 'Descripción:'
  = f.input :estado, label: 'Activo:', as: :boolean, checked_value: true, unchecked_value: false
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), criterios_path, :class => 'btn'
