= simple_form_for @indicador, :html => { :class => 'form-horizontal' } do |f|
  = f.input :nombre
  = f.input :valor
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), indicadores_path, :class => 'btn'
