- model_class = Indicador
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:nombre) + ':'
  %br
  = @indicador.nombre
%p
  %strong= model_class.human_attribute_name(:valor) + ':'
  %br
  = @indicador.valor

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), indicadores_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_indicador_path(@indicador), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), indicador_path(@indicador), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
