- model_class = Calificacion
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:parcial_id)
      %th= model_class.human_attribute_name(:indicador_id)
      %th= model_class.human_attribute_name(:asignatura_id)
      %th= model_class.human_attribute_name(:valor)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @calificaciones.each do |calificacion|
      %tr
        %td= link_to calificacion.id, calificacion_path(calificacion)
        %td= calificacion.user_id
        %td= calificacion.parcial_id
        %td= calificacion.indicador_id
        %td= calificacion.asignatura_id
        %td= calificacion.valor
        %td=l calificacion.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_calificacion_path(calificacion), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), calificacion_path(calificacion), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_calificacion_path, :class => 'btn btn-primary'
