!!!
%html
  %head
    %title
      Calific.App
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container-fluid
      #encabezado.row-fluid
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.brand
                Calific.App
              .nav-collapse
                %ul.nav
                  %li= link_to t('.link', default: t("helpers.links.tutories")), tutorias_path
                  %li= link_to t('.link', default: t("helpers.links.criteria")), criterios_path
                  %li= link_to t('.link', default: t("helpers.links.indicators")), indicadores_path
                  %li= link_to t('.link', default: t("helpers.links.conselour")), consejeros_path
                %li.dropdown.pull-right
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                    = t '.title', default: [:'helpers.titles.opciones']
                    %strong.caret
                  %ul.dropdown-menu
                    %li
                      %a{href: "/perfiles"}= t '.title', default: [:'helpers.titles.profile']
                    %li
                      = link_to t('.link', default: t("helpers.links.log_out")), destroy_user_session_path(), method: :delete
      .row
        .span12
          = yield