!!!
%html
  %head
    %title CalificaMe
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container-fluid
      #encabezado.row-fluid
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.brand Calific.App
      .row
        .span9
          = yield
        .span3
          - if user_signed_in?
            %h4 Bienvenido
            = current_user.email
            %p
              = link_to('Edit registration', edit_user_registration_path)
          - else
            %p= link_to 'Solicita una cuenta', new_user_registration_path
            %p
              Si ya tienes una cuenta: #{link_to 'Logueate', new_user_session_path}