!!!
%html
  %head
    %title
      Calific.App
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tags
  %body
    .container-fluid
      #encabezado.row-fluid
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.brand
                Calific.App
              .nav-collapse
                %ul.nav.nav-pills
                  %li.dropdown.pull-center
                    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                      Academia
                      %strong.caret
                    %ul.dropdown-menu
                      - if can? :manage, Consejero
                        %li
                          %a{href: "/consejeros"} Asignación de tutores
                      - if can? :read, Calificacion
                        %li
                          %a{href: "/calificaciones"} Calificaciones
                      / - if can? :manage, Calificacion
                      /   %li
                      /     %a{href: "/calificaciones"} Calificaciones
                      - if can? :manage, Asistencia
                        %li
                          %a{href: "/asistencias"} Captura de asistencias
                      - if can? :manage, Tutoria
                        %li
                          %a{href: "/tutorias"} Captura de tutorias por mes
                  %li.dropdown.pull-center
                    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                      Reportes
                      %strong.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "#"} Aspirantes
                      %li.divider
                      %li
                        %a{href: "#"} Alumnos
                      %li
                        %a{href: "#"} Optativas
                      %li
                        %a{href: "#"} Indicadores
                      %li
                        %a{href: "#"} Reportes de padrón de empresas
                  %li.dropdown.pull-center
                    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                      Vinculación
                      %strong.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "#"} Reporte de visita a empresa
                      %li
                        %a{href: "#"} Solicitud de la visita a empresa
                      %li
                        %a{href: "#"} Validación del registro de estadía
                  - if can? :manage, Libro
                    %li.dropdown.pull-center
                      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                        Biblioteca
                        %strong.caret
                      %ul.dropdown-menu
                        %li
                          %a{href: "/libros"} Lista de libros
                        %li
                          %a{href: "/prestamo_libros"} Préstamo de libros
                  - if can? :manage, Carrera
                    %li.dropdown.pull-center
                      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                        Administrador
                        %strong.caret
                      %ul.dropdown-menu
                        %li
                          %a{href: "/carreras"} Carreras
                        %li
                          %a{href: "/grados"} Grados
                        %li
                          %a{href: "/grupos"} Grupos
                  %li.dropdown.pull-center
                    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                      Opciones
                      %strong.caret
                    %ul.dropdown-menu
                      - if can? :update, Perfil
                        %li
                          %a{href: "/perfiles"} Ver perfil
                        %li.divider
                        %li
                          %a{href: "/users/edit"} Cambiar contraseña
                      %li.divider
                      %li
                        = link_to t('.link', default: t("helpers.links.log_out")), destroy_user_session_path(), method: :delete
      %p.alert= alert
      %p.notice= notice
      .row
        .span12
          %h4 
            = yield
    
